<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boostrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <!-- static/css/style.css-->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Imports -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
    </style>
    
    <title>Olav Kuhnen</title>
</head>
<body>
    <div class="container mt-5 text-white" id="intro_container">

        <div class="title justify-content-center mx-auto">
            <span class="sub_greeting">Hi! My name is</span>
            <h1 id="full_name"><i>Olav Kuhnen</i></h1>
            <span id="what_am_i">I am a <span class="typing"></span></span>
            <span class="mt-5"><i class="bi bi-github"></i>Callisto-Casale</span>
        </div>
    </div>
    <div id="particles-js"></div>

    <hr id="divider">
    <div class="container-fluid" id="qualities">
        afwfawf
    </div>
</body>
<!-- Boostrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="static/js/particles.js"></script>
<script src="static/js/script.js"></script>
</html>